*.pdb
Intellidoorn_Testsoftware/Intellidoorn software/obj/Debug/Intellidoorn_Testsoftware.exe
*.suo
*suo
Intellidoorn_Testsoftware/.vs/Intellidoorn software/v15/Server/sqlite3/storage.ide
*.ide
Intellidoorn_Testsoftware/Intellidoorn software/bin/Debug/Intellidoorn_Testsoftware.pdb
*.lock
*.ide
*.cache
Intellidoorn_Testsoftware/.vs/Intellidoorn software/v15/.suo
Intellidoorn_Testsoftware/Intellidoorn software/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Intellidoorn_Testsoftware/.vs/Intellidoorn software/v15/sqlite3/storage.ide-wal
Intellidoorn_Testsoftware/.vs/Intellidoorn software/v15/sqlite3/storage.ide-shm
Intellidoorn_Testsoftware/.vs/Intellidoorn software/v15/Server/sqlite3/storage.ide-shm
Intellidoorn_Testsoftware/.vs/Intellidoorn software/v15/Server/sqlite3/storage.ide-wal
Intellidoorn_Testsoftware/Intellidoorn software/obj/Debug/Intellidoorn software.csproj.CoreCompileInputs.cache
Intellidoorn_Testsoftware/.vs/Intellidoorn software/v15/.suo
Intellidoorn_Testsoftware/.vs/Intellidoorn software/v15/.suo
bin/
obj/
*.user

